.container{
    height: 50px;
    border-radius: 8px;
    display: flex;
    border: 1px solid grey;
    width: 150px;
}

.container__btn {
    height: 50px;
    width: 50px;

}

div {
   margin: auto;
}